---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Soy un diseñador apasionado por el desarrollo web y con experiencia en la creación de interfaces de usuario atractivas e intuitivas. Estoy motivado por aprender y crecer en un equipo de desarrolladores y me entusiasma la idea de contribuir a proyectos desafiantes e innovadores."
		/>
		<title>Portafolio - Christian Ap</title>
	</head>
	<body class="max-w-5xl mx-auto">
		<main>
			<Navbar />
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	html {
		@apply bg-dark-950 bg-gradient-to-tl from-dark-950 via-dark-900 to-dark-950;
		background-attachment: fixed;
		scrollbar-width: thin;
		scrollbar-color: theme("colors.dark.900") transparent;
		color-scheme: dark;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Hubot Sans";
	}

	@font-face {
		font-family: "Hubot Sans";
		src: url("/fonts/HubotSans-Light.woff2") format("woff2");
		font-weight: 200;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Hubot Sans";
		src: url("/fonts/HubotSans-Medium.woff2") format("woff2");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Hubot Sans";
		src: url("/fonts/HubotSans-Regular.woff2") format("woff2");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Hubot Sans";
		src: url("/fonts/HubotSans-SemiBold.woff2") format("woff2");
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	.loader {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		@apply md:justify-end justify-center;
	}
</style>
